<script>
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      var calendar = $('#calendar').fullCalendar({
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
         // defaultView: 'agendaWeek',
		  defaultView: '<%= params[:calendar_view].to_s == "" ? 'agendaWeek' : 'agendaDay' %>',
		  allDaySlot: false,
          firstHour: 9,
		  minTime: 8,
		  maxTime: 21,
          height: 500,
          slotMinutes: 15,
          loading: function(bool){
              if (bool)
                  $('#loading').show();
              else
                  $('#loading').hide();
          },
          events: "/get_interviews/<%= params['interviewer_filter'] %>",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          <% if can? :create, Interview %>
            selectable: true,
            selectHelper: true,
            select: function(start, end, allDay) {
            $('#interview_scheduled_at').val(my_convertDate(start));
            $('#new_interview_dialog').dialog({
            title: "New Interview Schedule",
            modal: true,
            width: 500,
            close: function(event, ui){
                $('#interview_form')[0].reset();
                $('.token-input-dropdown-facebook').hide();
                $('#new_interview_dialog').dialog('destroy')
              }
            });
          },
          editable: true,
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
//              if (confirm("Are you sure about this change?")) {
                  moveEvent(event, dayDelta, minuteDelta, allDay);
//              }
//              else {
//                  revertFunc();
//              }
          },

          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
//              if (confirm("Are you sure about this change?")) {
                  resizeEvent(event, dayDelta, minuteDelta);
//              }
//              else {
//                  revertFunc();
//              }
          },
        <% end %>

          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
        });


    });

</script>
<div>
  <div id='calendar'>
  </div>
</div>
<div id = "new_interview_dialog" style ="display:none;">
  <%= render 'form' %>
</div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
