<script>
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
      var calendar = $('#calendar').fullCalendar({
          editable: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
          selectable: true,
          selectHelper: true,
          select: function(start, end, allDay) {
            $('#interview_scheduled_at').val(my_convertDate(start));
            $('#new_interview_dialog').dialog({
            title: "New Interview Schedule",
            modal: true,
            width: 500,
            close: function(event, ui){
                $('#interview_form')[0].reset();
                $('#new_interview_dialog').dialog('destroy')
              }
            });
          },
          defaultView: 'agendaWeek',
          height: 500,
          slotMinutes: 15,
          loading: function(bool){
              if (bool)
                  $('#loading').show();
              else
                  $('#loading').hide();
          },
          events: "/get_interviews",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
//              if (confirm("Are you sure about this change?")) {
                  moveEvent(event, dayDelta, minuteDelta, allDay);
//              }
//              else {
//                  revertFunc();
//              }
          },

          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
//              if (confirm("Are you sure about this change?")) {
                  resizeEvent(event, dayDelta, minuteDelta);
//              }
//              else {
//                  revertFunc();
//              }
          },

          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      });
    });

    function my_convertDate(date) {
    date_obj = new Date(date);
    date_obj_hours = date_obj.getHours();
    date_obj_mins = date_obj.getMinutes();

    if (date_obj_mins < 10) { date_obj_mins = "0" + date_obj_mins; }

    if (date_obj_hours > 11) {
        date_obj_hours = date_obj_hours - 12;
        date_obj_am_pm = " PM";
    } else {
        date_obj_am_pm = " AM";
    }

    date_obj_time = " "+date_obj_hours+":"+date_obj_mins+date_obj_am_pm;
    return $.datepicker.formatDate("dd-mm-yy", date_obj)+date_obj_time;
  }

</script>
<div>
  <div id='calendar'>
  </div>
</div>
<div id = "new_interview_dialog" style ="display:none;">
  <%= render 'form' %>
</div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
