<% unless feed_back_info.empty? or (feed_back_info.length > 0) %>
  <h3>Feedback</h3>
  <div id="rows">
  <% feed_back_info.each do |interview| %>
  <ul class="no_border">
  <li>
  <span><%= interview.formated_scheduled_at + " to " %> <strong><%= link_to interview.user.name, user_path(interview.user) %></strong>
  <%= " | " + show_comment_status(interview.comments.try(:first).try(:status)) unless interview.comments.blank? %></span>
  <em><%=i.comments.try(:first).try(:description).try(:html_safe) %></em>
    </li>
    </ul>
<% end %>
<br />
</ul>
</div>
<% end %>
