<% prev_interviews = (@candidate.interviews - @candidate.interviews.upcoming) %>
<% unless prev_interviews.blank? %>
  <h3>Previous Schedules & Feedback</h3>
  <div id="rows">
    <% prev_interviews.each do |interview| %>
  <ul>
  <li>
  <span><%= "<strong>#{interview.interview_type} interview | #{interview.formated_scheduled_at}</strong> to ".html_safe %> <%= link_to interview.user.name, user_path(interview.user) %></strong>
    <%= (" | #{show_comment_status(interview.comments.first.try(:status))}  <span class='feedback'>#{interview.comments.first.try(:description)}</span>").html_safe unless interview.comments.blank? %>
    </li>
</ul>

<% end %>
<br />
</div>
<% end %>
