<% prev_interviews = (@candidate.interviews - @candidate.interviews.upcoming) %>
<% unless prev_interviews.blank? %>
  <h3>Previous Schedules</h3>
  <div id="rows">
  <ul class="no_border">
<% prev_interviews.each do |interview| %>
  <li>
  <span><%= "#{interview.formated_scheduled_at} to" %> <strong><%= link_to interview.user.name, user_path(interview.user) %></strong>
    <%= " | #{show_comment_status(interview.comments.try(:first).try(:status))}".html_safe if interview.comments.length > 0 %></span>
  </li>
<% end %>
<br />
</ul>
</div>
<% end %>
