<% prev_interviews = (@candidate.interviews - @candidate.interviews.upcoming) %>
<% unless prev_interviews.blank? %>
  <h3>Previous Schedules</h3>
  <div id="rows">
  <ul class="no_border">
<% prev_interviews.each do |interview| %>
  <li>
  <span><%= "#{interview.interview_type} interview | #{interview.formated_scheduled_at} to " %> <strong><%= link_to interview.user.name, user_path(interview.user) %></strong>
    <%= (" | #{show_comment_status(interview.comments.first.try(:status))}  <span class='feedback'>#{interview.comments.first.try(:description)}</span>").html_safe unless interview.comments.blank? %>
  </li>
<% end %>
<br />
</ul>
</div>
<% end %>
