<h3>This week Interview Schedules</h3>
<% unless this_week_interview_schedule.blank?%>
<table id="box-table-a">
<tr>
  <th width="20%">Name</th>
  <th width="30%">Scheduled at</th>
  <th width="20%">Interviewer</th>
  <th width="30%">Actions</th>
</tr>
<% this_week_interview_schedule.each do |interview| %>
<tr>
  <td><%= interview.candidate.name %></td>
  <td><%= interview.formated_scheduled_at %></td>
  <td><%= interview.user.name %></td>
  <td><%= feedback_link(interview)%></td>
</tr>
<% end %>
</table>
<%else%>
<p class="no_interview_schedule">No Interview Schedule for this week</p>
<%end%>
