<h3>This week Interview Schedules</h3>
<% unless this_week_interview_schedule.blank?%>
<%= render :partial => "show_interview_schedules", :locals => { :interview_schedules => this_week_interview_schedule } %>
<%else%>
<p class="no_interview_schedule">No Interview Schedule for this week</p>
<%end%>
