<h2>Today</h2>
<% unless today_interview_schedule.blank?%>
<%= render :partial => "show_interview_schedules", :locals => { :interview_schedules => today_interview_schedule } %>
<%else%>
  <div id="rows">
    <ul>
      <li>
      <p class="no_interview_schedule">No Interview Schedule for Today</p>
      </li>
    </ul>
  </div>
<%end%>
