<h1>Editing Interview Schedule</h1>

<%= render 'candidate_info' %>
<div id="event_desc">
<%= render 'form' %>
</div>
<div id="prev_schedules">
  <%= render 'previous_schedules' %>
</div>
<%= link_to 'Back', :back %>
