<h1>Listing Interviews</h1>
<table id="box-table-a">
  <%= render :partial => "today_interview_schedule"%>
  <%= render :partial => "this_week_interview_schedule"%>
  <%= render :partial => "this_month_interview_schedule"%>
</table>