<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <%= @follower ? "The interview scheduled" : "Your scheduled interview"  %>
      with the candidate <b><%= @candidate.name%></b> on <b><%= @scheduled_at %></b> is cancelled due to some reason.
    </p>
    <p>
      Thanks for cooperating.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
