<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <%= @follower ? ("The #{@interview.interview_type} interview scheduled to <strong>#{@interviewer.name}</strong>".html_safe) : "Your scheduled #{@interview.interview_type} interview"  %>
      with the candidate <b><%= @candidate_name%></b> on <b><%= @scheduled_at %></b> has been cancelled.
    </p>
    <p>
      Thank you for your co-operation.
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
