<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    The candidate <b><%= "#{@candidate_name}'s" %></b> profile has deleted by <strong><%= @current_user.name %></strong>.</p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
