<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
    <%= @follower ? "Interview scheduled " : "You are scheduled an interview "  %>
     with the candidate <b><%= @candidate.name%></b> is rescheduled to <b><%= @interview.formated_scheduled_at(@interview.scheduled_at) %></b>.
    </p>
    <p>
      Thanks for cooperating.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
