<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>
      Your scheduled interview with the candidate <b><%= @candidate.name%></b> is rescheduled to <b><%= @interview.scheduled_at%></b> at <b><%= @interview.schedule_time%></b>.
    </p>
    <p>
      Thanks for cooperating.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
