<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Attached candidate is looking for career opportunity with our concern.
    </p>
    <p><strong>Candidate Name:</strong> <%= @message.name %></p>
    <p><strong>Candidate Email:</strong> <%= @message.email %></p>
    <p>
    <strong>Candidate Description:</strong>
    </p>
    <p>
      <%= @message.description %>
    </p>
  </body>
</html>
