<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear <%= @user.name %>,
    </p>
    <p>You have been added into Pramati Scheduler i.e <%= link_to "#{get_hostname}", "#{get_hostname}" %>. Your Credentials are as follows:</p>
    <p>
    <b>Username :</b> <%= @user.username%><br />
    <b>Password :</b> <%= @password %>
    </p>
    <p>
      Thanks!
    </p>
    <p>
      Pramati Technologies Pvt Ltd.
    </p>
  </body>
</html>
