/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory .
 */

body {
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
}
a:link, a:visited, a:active {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

#loading {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #dd0000;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 3px;
}
span > div#loading {
  position: fixed;
}
h1 {
  font-size: 16px;
}
#header {
  background-color: #b0a089;
  height: 31px;
  margin-bottom: -31px;
}
.red {
  color: red;
}
.margin-left {
  margin-left: 5px;
}
.small-width {
  width: 100px;
}
.hide {
  display: none;
}

select  {
  outline: 0;
  overflow: hidden;
  height: 30px;
  background: #B0A089;
  color:#FFF;
  border:#2c343c;
  padding:5px 3px 5px 10px;
  -moz-border-radius:6px;
 -webkit-border-radius:6px;
 border-radius:10px;
}

select option {border:0px solid #FFF; background:#B0A089;}

#select_filter_by_interviewer {
  margin: 5px 5px 0 0;
}
#container {
  margin: 31px auto;
  width: 960px;
  border: 1px dashed #ccc;
  min-height: 700px;
  padding-left: 10px;
}
#top_left_bar {
  float: left;
}
#top_right_bar {
  float: right;
}
#top_left_bar, #top_right_bar {
  height: 0px;
  line-height: 22px;
  padding: 3px 148px 0;
  color: #FFFFFF;
}
#top_left_bar a, #top_right_bar a {
  color: #FFFFFF;
  text-decoration: none;
}
a.top_link:link, a.top_link:active, a.top_link:visited {
  color: #fff;
}
#box-table-a {
  border-collapse: collapse;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  /*    margin: 20px;*/
  text-align: left;
  width: 700px;
}
#box-table-a th {
  background: none repeat scroll 0 0 #ccc;
  border-bottom: 1px solid #FFFFFF;
  border-top: 4px solid #999;
  color: #000;
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
}
#box-table-a td {
  background: none repeat scroll 0 0 #eee;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
  color: #000;
  padding: 8px;
}
#box-table-a tr:hover td {
  background: none repeat scroll 0 0 #ddd;
  /*    color: #fff;*/
}
#event_desc label {
  font-weight: bold;
}
.tag_cloud1 { font-size: 0.6em !important; }
.tag_cloud2 { font-size: 0.8em !important; }
.tag_cloud3 { font-size: 1.0em !important; }
.tag_cloud4 { font-size: 1.2em !important; }
/* search form
 -------------------------------------- */
.searchform input {
  font: normal 12px  /100% Arial, Helvetica, sans-serif;
}
a.download:link, a.download:active, a.download:visited {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  margin-right: 30px;
}
a.download:hover {
  text-decoration: underline;
}
