/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory .
 */

body {
  margin: 0px;
  font-family: Georgia, Serif;
  font: 14px/150% Georgia;
  background-color: #66cccc;
  color: #444444;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #444444;
}
a:hover {
  text-decoration: none;
  color: #66cccc;
}

#loading {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #dd0000;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 3px;
}
span > div#loading {
  position: fixed;
}
h1 {
  font-size: 34px;
  font-weight:normal;
}

/* MAIN PAGE */

.mainContainer
{
width: 730px;
margin: 0px auto;
margin-top: 30px;
-moz-box-shadow: 0 0 7px #aeaeae;
-webkit-box-shadow: 0 0 7px #aeaeae;
box-shadow: 0 0 7px #aeaeae;

}

/* HEADER SECTION STARTS */

#header{background-color:#f2f2f2;overflow:hidden}

#header h1 {
  float: left;
  font-size:10px
}

#header h1 a {
height: 100px;
width: 212px;
display: inline-block;
background: #f2f2f2 url('scheduler.png') no-repeat 10px;

}

.top_bar_elements
{
margin-left: 10px;
}

#float_right {
  float: right;
}

#top_right_bar {
  height: 60px;
  color: #FFFFFF;
  font-size: 11px;
  padding: 10px;
  float: right;
  margin-top: 20px;
  margin-left: 190px;
 }
#top_right_bar a {
  color: #FFFFFF;
  text-decoration: none;
}
a.top_link:link, a.top_link:active, a.top_link:visited {
  color: #fff;
}
/* HEADER SECTION ENDS */

.red {
  color: red;
}
.margin-left {
  margin-left: 5px;
}
.small-width {
  width: 100px;
}
.hide {
  display: none;
}

select  {
  outline: 0;
  overflow: hidden;
  height: 30px;
  background: #e2e2e2;
  color:#4b4b4b;
  border:0;
  padding:5px 3px 5px 10px;
}

select option {border:0px solid #c2c2c2; background:#e2e2e2;}

#select_filter_by_interviewer {
  margin: 5px 5px 0 0;
}
#container {
background: #ffffff;
padding: 10px 10px 10px 10px;
padding-bottom: 30px;

  }

.box-table-a {
  border-collapse: collapse;
  font-family: Tahoma, Sans-Serif;
  font-size: 11px;
  /*    margin: 20px;*/
  text-align: left;
  width: 100%;
}
.box-table-a div {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #c2c2c2;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  height: 30px;
}

#event_desc label {
  font-weight: bold;
}
.tag_cloud1 { font-size: 11px !important; color:#66cccc; }
.tag_cloud2 { font-size: 14px !important; color:#cc66cc; }
.tag_cloud3 { font-size: 18px !important; color:#cccc66;}
.tag_cloud4 { font-size: 22px !important; color:#666666; }
/* search form
 -------------------------------------- */
.searchform input {
  width: 100%;
}
a.download:link, a.download:active, a.download:visited {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
  margin-right: 30px;
}
a.download:hover {
  text-decoration: underline;
}

/******************
 * Error messages
 ******************/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
