.no_interview_schedule {
  padding-left: 20px;
  font-style: italic;
  font-size: 12px;
}
/*General Label Style*/
input, textarea, select{
  border: 1px solid #8496BA;
}
a{
  text-decoration: none;
}
span.label {
  background-color: #ccc;
  color: #999;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
  margin-right: 10px;
}
span.comment_status_1 {
  color: #448f00;
  font-weight: bold;
}
span.comment_status_2 {
  color: #c17d00;
  font-weight: bold;
}
span.comment_status_3 {
  color: #c00814;
  font-weight: bold;
}
.change_password {
  width: 500px;
}
.change_password p {
  margin: 0;
}
.submit_button {
  background-color: #B0A089;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
}
.no_records_found {
  font-style: italic;
  text-align: center;
}
.create_edit_form{
/*  width: 55%;*/
}
.create_edit_form td{
  padding: 5px 0px;
}
.create_edit_form tr.actions input{

}
.button input{
  border: 1px solid #8496BA !important;
}

.tag, .button input{
  background-color: #EFF2F7;
  border: 1px solid #CCD5E4;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  cursor: default;
  height: auto !important;
  margin: 3px;
  overflow: hidden;
  padding: 1px 3px;
}
.form_label{
  width: 30%;
}
.form_input{
/*  width: 69%;*/
}
.pagination{
  background: none repeat scroll 0 0 #EEEEEE;
  float: right;
  height: 20px;
  padding-top: 5px;
}
.list_top_bar{
  width: 95%;
}
