.no_interview_schedule {
  padding-left: 20px;
  font-style: italic;
  font-size: 12px;
}
/*General Label Style*/
input, textarea {
  border: 1px solid #8496BA;
}
a{
  text-decoration: none;
}
span.label {
  background-color: #ccc;
  color: #999;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  margin-right: 10px;
}
span.comment_status_1 {
  color: #448f00;
  font-weight: bold;
}
span.comment_status_2 {
  color: #c17d00;
  font-weight: bold;
}
span.comment_status_3 {
  color: #c00814;
  font-weight: bold;
}
.change_password {
  width: 500px;
}
.change_password p {
  margin: 0;
}
.submit_button {
  background-color: #B0A089;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
}
.no_records_found {
  font-style: italic;
  text-align: center;
}
.create_edit_form{
/*  width: 55%;*/
}
.create_edit_form td{
  padding: 5px 0px;
}
.create_edit_form tr.actions input{

}
.button input{
  border: 1px solid #8496BA !important;
}

.tag, .button input{
  background-color: #EFF2F7;
  border: 1px solid #CCD5E4;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  cursor: default;
  height: auto !important;
  margin: 3px;
  overflow: hidden;
  padding: 1px 3px;
}
.form_label{
  width: 30%;
}
.form_input{
/*  width: 69%;*/
}
.list_top_bar{
  width: 95%;
}

.TableTitle
{
font-size: 14px;
font-weight:bold;
}

.prefix
{
margin-top: 5px;
}

/* ADDED BY CHANDRU */

.clear{
	clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

div.page
{
width: 760px;
margin: 0px auto;
}

/* LISTS */

#rows ul {
        list-style-type: none;
        width: 100%;
		padding: 0;
		border-bottom: 1px solid #999;
		margin-bottom:0px;
		margin-top: 0px;
		}

#rows li {
        display: block;
        font: normal 14px;
        text-decoration: none;
		padding: 5px 5px 5px 5px;
}

 * html #rows li a {  /* make hover effect work in IE */
	width: 100%;
}

#rows li:hover {
        background: #f2f2ff;
		cursor: default;
}

#rows em {
        color: #999;
        display: block;
        font: normal 14px Georgia;
        line-height: 125%;
		padding: 0px 0px 5px 0px;
}

#rows em a {
        color: #444444;
        font: normal 14px Georgia;
        line-height: 125%;
}


#rows span {
        color: #444444;
		display:block;
        font: normal 14px Georgia;
        line-height: 150%;
		padding: 0px 0px 0px 0px;
}

#rows span a {
        color: #444444;
        font: normal 14px Georgia;
        line-height: 150%;
}


#rows span a:hover {
        color: #66cccc;
 }

#rows span.tags {
        color: #444444;
		display:block;
        font: normal 11px Georgia;
        line-height: 150%;
		padding: 5px 0px 0px 0px;
}

#rows span.tags a {
        color: #444444;
        font: normal 11px Georgia;
        line-height: 150%;
		background-color: #e5e5e5;
		padding: 1px 2px 1px 2px;
		margin-right: 5px;
		font-variant: small-caps;
}

#rows ul.no_border span a {
  font-size: 12px;
}

.title {
  font: 18px Georgia !important;
}

.no_border {
  border: 0px !important;
}
.back_link {
  border: 1px solid #8496BA !important;
  padding: 0px 5px;
  font: 13px Georgia;
}
.comment_status {
  display: inline !important;
}
div.options
{
text-align:right;
}

.tagCloud
{
padding: 10px 10px 10px 10px;
margin: 0px 0px 10px 0px;
}

#pagination
{
text-align:center;
margin-top: 11px;
font-size: 11px;
}

#pagination a
{
	background-color: #e5e5e5;
	padding: 0 2px 1px;
}

#pagination em.current
{
	background-color: #ee0000;
	color: white;
        padding: 0 2px 1px;
}
